<template>
  <!-- Picklist values in drop down -->
  <li role="presentation" class="slds-listbox__item">
    <div id="option"
      class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected" role="option"
      onclick={handleSelect}>

      <span class="slds-media__figure slds-listbox__option-icon cbBorder1px">
        <template if:true={selected}>
          <span class="slds-icon_container slds-icon-utility-check slds-current-color">
            <lightning-icon class="slds-p-top_xxx-small" icon-name="utility:check" size="x-small"
              alternative-text="Selected" title="Selected">
            </lightning-icon>
          </span>
        </template>
      </span>


      <span class="slds-media__body">
        <span class="slds-truncate" title={label}>
          <span class="slds-assistive-text">Current Selection:</span>
          {label}
        </span>
      </span>
    </div>
  </li>
</template>